
#header {
	text-align: center;
	border-bottom: solid 1px #b2b3b5;
	margin: 0 0 20px 0;
}




fieldset {
	border: none;
}
legend {
	font-size: 18px;
	margin: 0px;
	padding: 10px 0px;
	color: #b0232a;
	font-weight: bold;
}

.prev, .next {
	background-color: #b0232a;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
}

.prev {
	float: left;
}
.next {
	float: right;
}
#steps {
	list-style: none;
	width: 100%;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
}
#steps li {
	font-size: 24px;
	float: left;
	padding: 10px;
	color: #b0b1b3;
}
#steps li span {
	font-size: 11px;
	display: block;
}
#steps li.current {
	color: #000;
}
#makeWizard {
	background-color: #b0232a;
	color: #fff;
	padding: 5px 10px;
	text-decoration: none;
	font-size: 18px;
}
#makeWizard:hover {
	background-color: #000;
}
fieldset .submit {
    background: #ff6500 none repeat scroll 0 0;
    border: medium none;
    color: #fff;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
    padding: 10px 15px;
	border-radius:5px;
}
#closebutton ul#steps {
    display: none;
}
#step1commands a.prev , #step2Prev.prev {
    background: #555 none repeat scroll 0 0;
    margin-left: 14px;
	margin-top: 15px;
	padding: 8px 15px;
	 border-radius: 5px;
}
#step2 p#step2commands {
    display: table;
}

#step1commands a.next, #step0commands .next {
    background: #555 none repeat scroll 0 0;
    border-radius: 5px;
    margin-right: 18px;
    margin-top: 15px;
    padding: 8px 15px;
}
#step1commands a.next:hover, #step0commands .next:hover , #step1commands a.prev:hover , #step2Prev.prev:hover {
    color: #fff;
    text-decoration: none;
}
#step0 p#step0commands {
    float: left;
    margin-top: 0;
    width: 100%;
}

